body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

#video-background {
  width: 100%;
  height: auto;
  object-position: center;
  
}

.button2 {
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
  transition: .3s;
}

.button2:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.45em 0.45em;
}


.button2:active {
  transition: 1s;
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.01em 0.01em;
}


.content{
  position: relative;
}

button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}
canvas{
    border: 1px solid ;
   
}


  section{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 20px;
  }

  .adios{
    font-size: 34px;
    font-family: fantasy;
    color: steelblue;
    text-align: center;
  }

  .formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
  }

  .label-name{
    font-size: 56px;
    font-weight: bold;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .formulario input{
    width: 300px;
    height: 60px;
    font-size: 32px;
    text-align: center;
    margin: 20px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: 1s;
  }

  .formulario input:focus{
    scale: 1.1;
  }

  #container-buttons,#formulario{
    margin-top: 100px;
  }



  #canvas-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  
  
  .menu-canvas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    color: #EE7C18;

  }

  .menu-canvas h2{
    margin: 0 20px;
    /* color: #000; */
    font-family: fantasy;
    font-weight: 400;
    font-size: 44px;
  }

#creditos{
  display: flex;
}
.container-cards{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 20px;

}

.card{
  /* background-color: transparent; */
  background-color: #fbca1f;
  border: 2px solid #000;
  padding: 0 0 30px 0 ;
}

.button2{
  color: #000;
}

.back{
  margin-top: 25px;
}
.card-body p{
  margin-bottom: 30px;
}
